<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="education.dao.TeacherExamMapper">
  <insert id="addPaper" useGeneratedKeys="true" keyProperty="paperid">
    insert into paper (teacherID, courseID) values (#{teacherid}, #{courseid})
  </insert>

  <insert id="addExercise" useGeneratedKeys="true" keyProperty="exerciseid">
    insert into exercise (description, correctOption, optionA, optionB, optionC, optionD, teacherID, paperID)
    VALUES (#{desciption}, #{correcoption}, #{optiona}, #{optionb}, #{optionc}, #{optiond}, #{teacherid}, #{paperid})
  </insert>

  <update id="updateExercise">
    update exercise
    set description = #{description}, correctOption = #{coorectoption}, optionA = #{optiona},
    optionB = #{optionb}, optionC = #{optionc}, optionD = #{optiond}
    where paperID = paperID
  </update>
  
  <select id="findPaperByID" resultType="education.entity.Paper">
    select * from paper where paperID = #{paperID}
  </select>
  
  <select id="findPaperByCourseID" resultType="education.entity.Paper">
    select * from paper where courseID = #{courseID}
  </select>
  
  <select id="findPaperByTeacherID" resultType="education.entity.Paper">
    select * from paper where teacherID = #{teacherID}
  </select>
  
  <select id="findExerciseByExerciseID" resultType="education.entity.Exercise">
    select * from exercise where exerciseID = #{exerciseID};
  </select>
  
  <select id="findExerciseByPaperID" resultType="education.entity.Exercise">
    select * from exercise where paperID = #{paperID}
  </select>
  
</mapper>
